body {
  font-size: 14px;
  font-family: 'Red Hat Text', sans-serif;
  background: url('../../../images/bg-stars.svg') center;
  background-color: $very-dark-black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  .main {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15rem;
    @include mobile {
      width: 95vw;
      margin-bottom: 0;
    }
    .main__title {
      color: white;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 6rem;
      @include mobile {
        text-align: center;
        margin-bottom: 4rem;
      }
    }
    .main__time {
      width: 60rem;
      height: 16rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      @include tablet {
        width: 95%;
      }
      .main__card {
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        @include tablet {
          width: 95%;
        }
        @include mobile {
          height: 6rem;
          width: 25%;
        }
        .main__image {
          height: 12rem;
          width: 12rem;
          background-color: $dark-desaturated-blue;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include tablet {
            height: 10rem;
            width: 10rem;
          }
          @include mobile {
            height: 4rem;
            width: 4rem;
          }
          .main__number {
            font-size: 5rem;
            color: $soft-red;
          }
        }
        .main__title {
          color: $grayish-blue;
          text-transform: uppercase;
          font-size: 1.1rem;
          letter-spacing: 10px;
          margin-top: 1rem;
          @include mobile {
            font-size: 0.7rem;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}
