@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
@font-face {
  font-family: 'Redhat';
  src: url("./../../../fonts/RedHatText-Bold.ttf") format("ttf");
}

@font-face {
  font-family: 'Redhat2';
  src: url("./../../../fonts/RedHatDisplay-Bold.otf") format("otf");
}

.background__wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
}

.background__wrapper .background__hills {
  position: relative;
  height: 300px;
}

.socials {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 5rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials .socials__icon {
  font-size: 2.3rem;
  margin: 0 1.1rem;
  color: #8486a9;
}

.socials .socials__icon:hover {
  color: #fb6087;
}

body {
  font-size: 14px;
  font-family: 'Red Hat Text', sans-serif;
  background: url("../../../images/bg-stars.svg") center;
  background-color: #191a24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body .main {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15rem;
}

@media (max-width: 450px) {
  body .main {
    width: 95vw;
    margin-bottom: 0;
    margin-top: -8rem;
  }
}

body .main .main__title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 6rem;
}

@media (max-width: 450px) {
  body .main .main__title {
    text-align: center;
    margin-bottom: 4rem;
  }
}

body .main .main__time {
  width: 60rem;
  height: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1000px) {
  body .main .main__time {
    width: 95%;
  }
}

body .main .main__time .main__card {
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  body .main .main__time .main__card {
    width: 95%;
  }
}

@media (max-width: 450px) {
  body .main .main__time .main__card {
    height: 6rem;
    width: 25%;
  }
}

body .main .main__time .main__card .main__image {
  height: 12rem;
  width: 12rem;
  background-color: #343650;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 17px 0px -5px rgba(20, 20, 20, 0.57);
  box-shadow: 0px 17px 0px -5px rgba(17, 17, 17, 0.57);
  position: relative;
}

@media (max-width: 1000px) {
  body .main .main__time .main__card .main__image {
    height: 10rem;
    width: 10rem;
  }
}

@media (max-width: 450px) {
  body .main .main__time .main__card .main__image {
    height: 4rem;
    width: 4rem;
  }
}

body .main .main__time .main__card .main__image .main__division {
  width: 100%;
  height: 50%;
  background-color: #1e1f29;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px solid black;
}

body .main .main__time .main__card .main__image .main_circle-left {
  height: 16px;
  width: 8px;
  background-color: black;
  position: absolute;
  top: 45%;
  left: 0;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

@media (max-width: 450px) {
  body .main .main__time .main__card .main__image .main_circle-left {
    height: 8px;
    width: 4px;
    top: 44%;
  }
}

body .main .main__time .main__card .main__image .main_circle-right {
  height: 16px;
  width: 8px;
  background-color: black;
  position: absolute;
  top: 45%;
  left: 96%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

@media (max-width: 450px) {
  body .main .main__time .main__card .main__image .main_circle-right {
    height: 8px;
    width: 4px;
    top: 40%;
  }
}

body .main .main__time .main__card .main__image .main__number {
  font-size: 5rem;
  color: #fb6087;
}

@media (max-width: 450px) {
  body .main .main__time .main__card .main__image .main__number {
    font-size: 2rem;
  }
}

body .main .main__time .main__card .main__title {
  color: #8486a9;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 10px;
  margin-top: 1rem;
}

@media (max-width: 450px) {
  body .main .main__time .main__card .main__title {
    font-size: 0.7rem;
    letter-spacing: 2px;
  }
}

.timer {
  font-size: 4rem;
  color: white;
}
/*# sourceMappingURL=styles.css.map */